.bg-light-green {
    background: #dfe6dd !important;
}
.bg-blue {
    background: #c0cfe6 !important;
}
.bg-pink {
    background: #eacbd1 !important;
}
.bg-light-blue {
    background: #d4e0ee !important;
}
